@use "../utils/mixin.scss";
@use "../utils/variable.scss";

.présentation {
    text-align: center;
    padding: 2 * variable.$defaul_size;
    background-color: #fafafa;
    padding-bottom: 3 * variable.$defaul_size;
}
  .pres_title .pres_subtitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .pres_subtitle {
    margin: 1.5rem 0;
    font-weight: 300;
    color: gray;
  }
  .pres_btn {
    border: 0;
    padding: 1rem 1rem;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    font-size: variable.$defaul_size;
    background-color: #686868;
    @include mixin.gradient;
    cursor: pointer;
    @include mixin.shadow;
    &:hover {
      filter: brightness(120%);
    }
}