@charset "UTF-8";
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
* ::before,
* ::after {
  box-sizing: border-box;
}

.main {
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  margin: 1rem 0 0 1rem;
  padding-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.nav-bar {
  text-align: center;
  background-color: #f6f6f6;
}
.nav-bar .search-bar {
  font-size: 1rem;
  padding-top: 1rem;
}
.nav-bar .search-bar input {
  border: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  width: 200px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: #f6f6f6;
}

.présentation {
  text-align: center;
  padding: 2rem;
  background-color: #fafafa;
  padding-bottom: 3rem;
}
.présentation .pres_title .pres_subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
}
.présentation .pres_subtitle {
  margin: 1.5rem 0;
  font-weight: 300;
  color: gray;
}

.pres_btn {
  border: 0;
  padding: 1rem 3rem;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  background-color: #686868;
  cursor: pointer;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.pres_btn:hover {
  filter: brightness(120%);
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #fafafa;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 1s 1s forwards;
}
.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 15px solid #9356DC;
  border-bottom: 15px solid #FF79DA;
  animation: spin 1s infinite linear;
}

.instruction {
  margin-bottom: 4rem;
  display: grid;
  place-items: center;
}
.instruction h2 {
  display: grid;
  place-self: flex-start;
  padding: 1rem;
}
.instruction ol {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  gap: 1rem;
}
.instruction li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 1rem;
  padding: 1.2rem 0;
  box-shadow: 0 3px 5px darkgray;
  width: 80vw;
}
.instruction li:hover {
  filter: brightness(120%);
}
.instruction li .instruction_div {
  display: flex;
  justify-content: center;
  font-weight: 700;
  width: 100%;
  margin: auto;
}
.instruction li .instruction_div div {
  display: flex;
  width: 70%;
}
.instruction ol li i {
  margin-right: 0.5rem;
}
.instruction ol li span {
  position: absolute;
  left: -1rem;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
  font-weight: bold;
  background-color: #9356dc;
  color: white;
}
.instruction .fa-solid {
  color: #9356dc;
}

@media screen and (min-width: 768px) {
  .instruction_div div {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .instruction ol {
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
  }
  ol {
    width: 80vw;
  }
}
.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 3rem;
  padding-top: 1rem;
}
.restaurants .resto_title {
  padding: 1rem;
}
.restaurants .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.card_resto {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
}
.card_resto img {
  height: 12rem;
  width: 100%;
  border: transparent solid 0px;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
}
.card_resto span {
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  font-size: 14px;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card_resto .card_info {
  position: relative;
  padding-left: 1rem;
}
.card_resto .card_info h3 {
  padding-top: 0.4rem;
}
.card_resto .card_info i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 40%;
}
.card_resto .card_info p {
  margin-bottom: 1rem;
}
.card_resto .fas {
  color: transparent;
  opacity: 0;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
}
.card_resto .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}
.card_resto .fas:active {
  opacity: 1;
  transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
  .pres_title {
    padding: 0;
  }
  .card_info {
    padding-left: 1rem;
  }
  .restaurants .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
  h2 {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
}
.footer {
  background-color: #353535;
  color: #fff;
}
.footer_title {
  font-family: "Shrikhand", cursive;
  padding: 1rem 0;
  margin-left: 0.5rem;
  font-weight: 500;
}
.footer p {
  padding: 0.2rem;
  margin-left: 0.5rem;
}
.footer a {
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_title {
    position: relative;
    left: 45rem;
  }
}
@keyframes tour {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes disappear {
  to {
    visibility: hidden;
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.header_arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}

.bandeau {
  padding-left: 0.2rem;
}
.bandeau_title {
  border-radius: 2rem 2rem 0 0;
  margin-top: -40px;
  background-color: #f6f6f6;
  z-index: 100;
  position: relative;
}

.resto_img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 2px;
}

.text_title {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 600;
  padding-top: 2rem;
  padding-left: 1rem;
}
.text_title i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.text_title .fas {
  color: transparent;
  opacity: 0;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
}
.text_title .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}

.menu {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #f6f6f6;
  padding-bottom: 2rem;
}
.menu h3 {
  margin: 1rem;
  font-weight: 400;
  position: relative;
  width: 85vw;
  margin: auto;
  display: grid;
  place-self: flex-start;
}
.menu h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
.menu_category {
  background-color: white;
  border-radius: 1rem;
  width: 85vw;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  animation-name: appear;
  animation-duration: 2s;
  animation-fill-mode: both;
}
.menu_category:nth-child(1) {
  animation-delay: 100ms;
}
.menu_category:nth-child(2) {
  animation-delay: 200ms;
}
.menu_category:nth-child(3) {
  animation-delay: 300ms;
}
.menu_category:nth-child(4) {
  animation-delay: 400ms;
}
.menu_category:nth-child(5) {
  animation-delay: 500ms;
}
.menu_category:nth-child(6) {
  animation-delay: 600ms;
}
.menu_category:nth-child(7) {
  animation-delay: 700ms;
}
.menu_category:nth-child(8) {
  animation-delay: 800ms;
}
.menu_category:nth-child(9) {
  animation-delay: 900ms;
}
.menu_category:nth-child(10) {
  animation-delay: 1000ms;
}
.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.menuItem_price {
  padding: 1rem;
  margin-left: auto;
  font-weight: bold;
  height: 2.4rem;
  display: flex;
  align-items: flex-end;
}
.menuItem_detail {
  padding: 1rem;
  overflow: hidden;
}
.menuItem_detail h4,
.menuItem_detail p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menuItem_check {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 2.4rem;
  width: 2rem;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  flex-shrink: 0;
  background-color: #99E2D0;
  transition: all 0.5s;
}
.menuItem_check i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  color: #99E2D0;
}
.menuItem:hover .menuItem_check {
  margin-right: 0;
}
.menuItem:hover i {
  animation-name: tour;
  animation-duration: 0.5s;
}

.order {
  height: 15vh;
  display: grid;
  place-items: center;
  background-color: #f6f6f6;
}
.order button {
  border: 0;
  padding: 1rem 3rem;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  background-color: #686868;
  cursor: pointer;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.order button:hover {
  filter: brightness(120%);
}

@media screen and (min-width: 1024px) {
  .bandeau_title {
    display: grid;
    place-content: center;
  }
  .text_title i {
    right: 10rem;
  }
  .menu_category {
    width: 60vw;
  }
  .menu h3 {
    position: relative;
    width: 60vw;
    margin: auto;
  }
  .page_restaurants {
    padding: 7rem;
    padding-top: 0;
    padding-bottom: 0;
  }
}

/*# sourceMappingURL=style.css.map */
