@use "../utils/variable.scss";
@use "../utils/mixin.scss";
@use "../utils/colors.scss";

.restaurants {
  background-color: colors.$lightgrey;
  padding-bottom: 3rem;
  padding-top: 1rem;
  .resto_title {
    padding: 1rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 2 * variable.$defaul_size;
    padding: 1rem;
  }
}
.card_resto {
  background-color: white;
  border-radius: variable.$defaul_size;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  & img {
    height: 12 * variable.$defaul_size;
    width: 100%;
    border: transparent solid 0px;
    border-radius: 1rem 1rem 0 0;
    box-shadow: none;
    object-fit: cover;
  }
  & span {
    background-color: colors.$tertiarycolor;
    color: darken(colors.$tertiarycolor, 35%);
    font-weight: bold;
    font-size: 14px;
    padding: 0.5rem;
    border-radius: 0.125rem;
    position: absolute;
    top: variable.$defaul_size;
    right: 0.75rem;
  }
  .card_info {
    position: relative;
    padding-left: 1rem;
    & h3 {
      padding-top: 0.4rem;
    }
    & i {
      font-size: 1.5rem;
      position: absolute;
      right: variable.$defaul_size;
      top: 50%;
      transform: translateY(-50%);
    }
    & p {
      margin-bottom: 1rem;
    }
  }
  .fas {
    color: transparent;
    opacity: 0;
    @include mixin.gradient(1);
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 200ms ease-in-out;
  }
  &:hover {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
  }
  &:active {
    opacity: 1;
    transform: translateY(-50%) scale(1.1);
  }
}

@media screen and (min-width: 1024px) {
  .pres_title {
    padding: 0;
  }
  .card_info {
    padding-left: 1rem;
  }
  .restaurants .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
  h2 {
    padding-bottom: 1rem;
    padding-top: 2rem;
  }
}
