@use "../utils/dark.scss";
.tuto {
   margin-bottom: 4rem;
  h2 {
   margin: 2rem 0 0 2rem;
   padding-bottom: 1.5rem;
 }
 ol {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 1rem;
 }
   li {
   background-color: #F6F6F6;
   border-radius: 1rem;
   padding: 1.5rem 0;
   box-shadow: 0 3px 5px darkgray;
   width: 85vw;
   flex-grow: 1;
 }
ol li i {
   margin-right: 0.5rem;
}
  ol li span {
   position: relative;
   left: -1rem;
   padding: 0.3rem 0.6rem;
   border-radius: 50%;
   font-weight: bold;
   background-color: #9356dc;
   color: white;
 }
  ol li span:hover {
   cursor: pointer;
 }
}
 
 

