* {
    margin: 0;
    font-family: "Roboto", sans-serif;
::before,
::after {
    box-sizing: border-box;
}
}
.bold {
    font-weight: bold;
  }
  
  .gray {
    color: dimgray;
  }
  
  .accessibility-label {
    position: absolute;
    left: -999px;
  }