@use "../utils/mixin.scss";
@use "../utils/variable.scss";
@use "../utils/colors.scss";
@use "../utils/animation.scss";

.header_arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  @include mixin.center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #000;
}
.bandeau {
  padding-left: 0.2rem;
  &_title{
    border-radius: 2rem 2rem 0 0;
    margin-top: -40px;
    background-color: #f6f6f6;
    z-index: 100;
    position: relative;
  }
}
.resto_img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: cover;
  border-radius: 2px;
}
   .text_title {
    margin: 0;
    font-family: 'Shrikhand', cursive; 
    font-size: 28px;
    font-weight: 600;
    padding-top: 2rem;
    padding-left: variable.$defaul_size;  
    i {
      font-size: 2rem;
      position: absolute;
      right: variable.$defaul_size;      
    }
    .fas {
    color: transparent;
    opacity: 0;
     @include mixin.gradient(1);
     background-clip: text;
    -webkit-background-clip: text;
    transition: all 200ms ease-in-out;
    
    &:hover  {
    opacity: 1;
    transform: scale(1.1);
    }
  }
}

  .menu {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: variable.$defaul_size;  
    background-color: #F6F6F6;
    padding-bottom: 2rem;
    & h3{
      margin: variable.$defaul_size;
      font-weight: 400;
      position: relative;
      display: grid;
      place-self: flex-start;
      &::after {
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 0;
        height: 0.25rem;
        width: 3rem;
        background-color: colors.$tertiarycolor;
      }
    }
  &_category {
    background-color: white;
    border-radius: variable.$defaul_size;   
    width: 85vw;
    @include mixin.shadow;
    overflow: hidden;
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: both;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
       animation-delay: 100ms * $i; 
      }
    }
  }
  &Item {
   @include mixin.center;
    overflow: hidden;
    &_price{
      padding: variable.$defaul_size;
      margin-left: auto;
      font-weight: bold;
      height: 2.4rem;
      display: variable.$flex;
      align-items: flex-end;
    }
    &_detail{ 
    padding: variable.$defaul_size;
    overflow: hidden;
    h4, 
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    } 
    }
    &_check{
    @include mixin.center;
    padding: variable.$defaul_size;
    height: 2.4rem;
    width: 2rem;
    border-radius: 0 1rem 1rem 0;
    margin-right: -4rem;
    flex-shrink: 0;
    background-color: colors.$tertiarycolor;
    transition: all 0.5s;
    i {
      @include mixin.center;
      background-color: white;
      border-radius: 50%;
      height: 1.5rem;
      width: 1.5rem;
      color: colors.$tertiarycolor;
    }
  }
  &:hover { 
    .menuItem_check {
    margin-right: 0;
    }
    i {
      animation-name: tour;
      animation-duration: 0.5s;
    }
   }
  }
}
.order {
  height: 15vh;
  display: grid;
  place-items: center;
  background-color: colors.$lightgrey;
  & button {
    @include mixin.btn;
  }
}
@media screen and (min-width: 768px) {
  .menu h3{
    padding-left: 2rem;
    &::after {
      content: ""; 
      position: absolute; 
      left: 2rem;     
    }
  }
}  
@media screen and (min-width: 1024px) {
  .bandeau_title {
    display: grid;
    place-content: center;
  }
.text_title i {
  right: 13rem;
  }
.menu_category {
  width: 60vw;
  }
.menu h3 {
 position: relative;
 left: 3rem;
  }
main {
padding: 7rem;
padding-top: 0;
padding-bottom: 0;
  }
}




 


