@use "../utils/mixin.scss";
@use "../utils/variable.scss";
@use "../utils/colors.scss";
@use "../utils/animation.scss";


  .resto_img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 2px;
  }
  .bandeau_title{
    border-radius: 2rem 2rem 0 0;
    margin-top: -40px;
    background-color: #f6f6f6;
    z-index: 100;
    position: relative;
  }
   .text_title {
    margin: 0;
    font-family: 'Shrikhand', cursive; 
    font-size: 28px;
    font-weight: 600;
    padding-top: 2rem;
    padding-left: variable.$defaul_size;  
    i {
      font-size: 2rem;
      position: absolute;
      right: variable.$defaul_size;      
    }
    .fas {
    color: transparent;
    opacity: 0;
     @include mixin.gradient(1);
     background-clip: text;
    -webkit-background-clip: text;
    transition: all 200ms ease-in-out;
    
    &:hover  {
    opacity: 1;
    transform: scale(1.1);
    }
  }
}
  .menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: variable.$defaul_size;  
    background-color: #F6F6F6;
    & h3{
      margin: 1rem
    }
  &_category {
    background-color: white;
    border-radius: variable.$defaul_size;   
    width: 85vw;
   margin-left: 1.5rem;
    @include mixin.shadow;
    overflow: hidden;
  }
  &Item {
    display: variable.$flex;
    align-items: center;
    overflow: hidden;
    &_price{
      padding: variable.$defaul_size;;
      margin-left: auto;
      font-weight: bold;
      height: 2.4rem;
      display: variable.$flex;
      align-items: flex-end;
    }
    &_detail{ 
    padding: variable.$defaul_size;
    overflow: hidden;
    h4, 
    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    } 
    }
    &_check{
    display: variable.$flex;
    align-items: center;
    justify-content: center;
    padding: variable.$defaul_size;
    height: 2.4rem;
    width: 2rem;
    border-radius: 0 1rem 1rem 0;
    margin-right: -4rem;
    flex-shrink: 0;
    background-color: colors.$tertiarycolor;
    transition: all 0.5s;
    i {
      display: variable.$flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 50%;
      aspect-ratio: 1;
      width: 1.5rem;
      color: colors.$tertiarycolor;
    }
  }
  &:hover { 
    .menuItem_check {
    margin-right: 0;
    }
    i {
      animation-name: tour;
      animation-duration: 0.5s;
    }
   }
  }
}